body {
    color: white;

}

.bg{
    position: fixed;
    background-repeat: no-repeat;   
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: cover;
    /* background-attachment: fixed; */
    background-image: url("../images/stadium.jpg");
    opacity: 0.9;
}

h1{
    text-align: center;
    text-shadow: 1px 1px rgba(77, 70, 70, 0.719);
}

h3, label{
    justify-content: center;
    
}

button{
    margin: 2px;
}

form{
    margin: 5px;
    margin-bottom: 20px;
}