body {
    color: white;

}

.bg{
    position: fixed;
    background-repeat: no-repeat;   
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: cover;
    /* background-attachment: fixed; */
    background-image: url("../images/stadium.jpg");
    opacity: 0.9;
}

h1{
    text-align: center;
    text-shadow: 1px 1px rgba(77, 70, 70, 0.719);
}

h2{
    margin-top: 15px;
    text-align: center;
    text-shadow: 1px 1px rgba(77, 70, 70, 0.719);
}

/* h2:hover{
    transition: 0.5s ease;
    background-color: rgb(24, 24, 24);
    color: white;
    text-shadow: 1px 1px rgba(204, 193, 193, 0.719);
    border: black;
} */

h3, label{
    justify-content: center;
    
}

button{
    margin: 2px;
}

form{
    margin: 5px;
    margin-bottom: 20px;
}

#display{
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

img{
    margin-right: 10px;
}
img:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 1px 1px rgb(96, 96, 104);
    border-radius: 10px;
    border: 3px rgb(67, 67, 231);
}